@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

html,
body {
  background-color: #002928;
  color: #fff;
  margin: 0;
  font-family: 'Work Sans', -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 850px;
  margin: auto;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

main {
  padding: 1em;
}

h1,h2 {
  margin: 0;
}

h1 {
  color: #AEDCC0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
